<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lecturer and Student</title>
    <style>
      a {
        font-weight: bold;
        font-size: small;
        border-radius: 20px;
        padding: 4px 8px;
        color: aliceblue;
        background-color: rgb(201, 47, 47);
      }
      a:hover {
        background-color: blue;
      }
    </style>
  </head>
  <body>
    <h1>Home Page</h1>
    <a href="/lectures">Lecturers</a>
    <a href="/students">Students</a>
    <a href="/lectures/delete/5">deleter</a>
    <hr />
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt explicabo nemo alias eius odio officia excepturi, qui sed inventore iure voluptatem laudantium delectus non quia quasi? Dolor aliquid minima aspernatur quo cumque culpa
      veritatis mollitia! Animi dolorum temporibus impedit sunt placeat natus enim asperiores, sit error maxime sequi. Assumenda, libero dicta ut eligendi sed blanditiis impedit.
    </p>
  </body>
</html>
